body {
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 2px;
}
li {
  font-size: 18px;
  width: 70%;
  line-height: 40px;
  list-style-type: none;
  margin: 1px auto;
  text-align: left;
  word-wrap: break-word;
}
li span{
  display: inline-block;
  background: crimson;
  color: white;
  margin-right: 10px;
  transition: 0.2s linear;
  width: 0;
  opacity: 0;
}
li:hover span {
  opacity: 1.0;
  width: 38px;
  padding: 0 10px;
}
li:hover {
  padding: 0;
}
ul {
  padding: 0;
}
#head{
  margin: 2px auto;
  margin-top: 50px;
  background: #343a40;
  color: white;
  width: 70%;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 30px;
  height: 40px;
  line-height: 40px;
  border-top-left-radius: 0.50rem;
  border-top-right-radius: 0.50rem;
}
.inp{
  width: 70%;
  margin: 1px auto !important;
}
li:nth-child(2n-1) {
  background-color: whitesmoke;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline: 0 !important;
    box-shadow:none !important;
}
.form-control{
  border-radius: 0;
}
.btnAdd{
  border-radius: 0;
}